body {
    color: rgb(240, 241, 232);
    background-color: rgb(224, 33, 33);
}

/* p {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
} */

img {
    height: 500px;
    width: 500px;

}

@media (max-width: 600px){
@media(min-width:1024px){
    img{
        height: auto;
        height: 100%;
    }
}
}
video {
    width: 100%;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: none;
}

button {
    background-color: beige;
    padding: 20px;
    margin: 20px;
}

button:hover {
    background-color: green;
}

h1 {
    padding: 50px;
    border: 3px solid red;
    margin: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media(min-width: 1024x){
    nav{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

#p1 {
    font-style: italic;
}

#p2 {
    font-style: normal;
}

.group {
    font-size: xx-large;
}

@media (min-width: 1024px){
    .grid{
        display: grid;
        grid-template-columns: 33% 33% 33%
    }
}

@media(max-width: 600px){
    .grid{
        display: grid;
    }
}